.cardContainerHeader {

    padding: 1rem;
    width: 100%;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    border: 8px solid var(--border-color);
    border-radius: 1.875rem;

    &__heading {

        color: var(--border-color);
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        transform: skewX(10deg);

    }

    &__infoBox {

        display: flex;
        gap: 1rem;

    }

    &__subtitle {

        padding-bottom: .7rem;
        color: var(--border-color);

        &:last-child {

            padding-bottom: 0;

        }

    }

    &__desc {

        padding-bottom: .7rem;
        color: var(--secondary-color);

        &:last-child {

            padding-bottom: 0;

        }

    }

}