.card {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--tertiary-color);
    border: .5rem solid var(--border-color);
    border-radius: 1.875rem;

    &__boxImage {

        position: absolute;
        top: -6.25rem;
        max-width: 8.375rem;
        width: 50%;
        border: .5rem solid var(--border-color);
        border-radius: 50%;
        z-index: 1;

    }

    &__image {

        width: 100%;
        border-radius: 50%;

    }

    &__box {

        position: relative;
        align-self: stretch;
        border-radius: 1.5rem;
        overflow: hidden;

        &::before {
    
            content: "";
            position: absolute;
            right: 10px;
            bottom: -10px;
            width: 600px;
            height: 290px;
            background-color: var(--secondary-color-light);
            border-radius: 40%;
    
        }

    }

    &__heading {

        position: relative;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: var(--main-color);
        border-radius: 1.5rem;

    }

    &__title {

        margin-top: .563rem;
        color: var(--border-color);
        font-size: 1.4rem;
        font-weight: 600;

    }

    &__infoBox {

        position: relative;
        margin: 1.2rem 0;
        display: flex;
        justify-content: center;
        column-gap: 1rem;

    }

    &__subtitlesBox {

        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        color: var(--border-color);
        font-size: .8rem;

    }

    &__descBox {

        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        color: #fbfbfb;
        font-size: .8rem;

    }

}