@use "../../abstracts/mixins" as m;

.header {

    padding: 3.7rem 1.4rem;

    @include m.telephone {

        padding: 4rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;

    };

    &__form {

        margin-top: 2rem;
        position: relative;
        padding: .625rem;
        width: 100%;
        background-color: var(--white);
        border: 4px solid var(--border-color);
        border-radius: 1.875rem;

        @include m.telephone {

            margin-top: 0;
            max-width: 635px;
            padding: .550rem

        };

    }

    &__input {

        width: 60%;
        border-radius: inherit;
        outline: none;

        &::placeholder {

            color: var(--secondary-color);

        }

    }

    &__btn {

        position: absolute;
        top: -2px;
        right: -1.5px;
        width: 40%;
        height: 110%;
        background-color: var(--main-color);
        color: var(--border-color);
        font-weight: 600;
        border: 4px solid var(--border-color);
        border-radius: inherit;
        cursor: pointer;

    }

}