@use "../../abstracts/mixins" as m;

.loader {

    position: relative;
    height: 13rem;
    filter: url(#gooey);
    animation: rotate 16s linear infinite;

    &__span {

        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(calc(45deg * var(--i)));

        &::before {

            content: "";
            position: absolute;
            top: 0;
            left: calc(50% - 1.25rem);
            width: 2.5rem;
            height: 2.5rem;
            background-image: linear-gradient(45deg, var(--tertiary-color), var(--main-color));
            border-radius: 50%;
            box-shadow: 0 0 1.875rem var(--main-color);

        }

    }

    &__rotate {

        animation: rotate 16s linear infinite;
        animation-delay: calc(-0.2s * var(--j));

        @include m.rotate();

    }

    &__svg {

        width: 0;
        height: 0;

    }

}